@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
body {
  padding-top: 80px;
  background: rgba(255, 255, 255, 0.9)  url('/images/bg-header.jpg') no-repeat;
}

.panel, .navbar-fixed-top {
	box-shadow: 1px 1px 3px #888888;
}

.panel.panel-primary {
	background-color: rgba(255, 255, 255, 1);
}

.container > .row {
	min-height: 550px;
}

.jumbotron {
	padding:30px;
	background-color: rgba(238, 238, 238,0.9);
	box-shadow: 1px 1px 15px #888888;
}

.jumbotron h3 {
	font-weight:bold;
	font-size:22px;
}

.jumbotron p {
	font-size:15px;
}

.footer{
    padding-top: 5px;
    background: rgba(238, 238, 238,0.5);
    border-top: 1px solid #d9edf7;
    min-height:50px;
    line-height: 18px;
    text-align: center;
    font-style: italic;
    color:green;
    font-size:12px;
}

 .footer a {
 	color:black;
 }

.table thead tr.title-table th {
	vertical-align: middle;
    line-height: 35px;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    color: darkblue;
}

p.descript{
	margin: 0px;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    color: #b9a8a8;
    padding: 5px 10px;
    font-family: "Times New Roman",Arial,Tahoma;
}
p.descript b {
	font-size:15px;
	margin-top:15px;
	display:block;
	color:#A52A2A;
	font-weight: bold;
}

form label {
	font-weight: bold;
    text-transform: uppercase;
    clear: both;
    display: block;
    margin-top: 15px;
    color: #411717;
    opacity: 0.9;
}

form .form-group {
	margin-top: 20px;
}