.nav {
  margin-bottom: 20px;
}
.nav > li > a:hover {
  background-color: #fff;
  color: #f76000;
}
.nav .dropdown-toggle .caret {
  border-top-color: #f76000;
  border-bottom-color: #f76000;
  margin-top: 8px;
  margin-left: 5px;
}
.nav .dropdown-toggle:hover .caret {
  border-top-color: #f76000;
  border-bottom-color: #f76000;
}
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.caret {
  border-top: 4px solid #000;
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: 0;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.dropdown-menu a {
  font-weight: normal;
  padding: 3px 20px;
  color: #444;
  text-shadow: none;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  color: #f76000;
}
.nav li.dropdown.open > .dropdown-toggle,
.nav li.dropdown.active > .dropdown-toggle,
.nav li.dropdown.open.active > .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  background-color: #fff;
  color: #f76000;
}
.nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #f76000;
  border-bottom-color: #f76000;
}
.nav li.dropdown.open > .dropdown-toggle .caret,
.nav li.dropdown.active > .dropdown-toggle .caret,
.nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #f76000;
  border-bottom-color: #f76000;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: none;
  color: #f76000;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #f76000;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999;
}
.dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.dropdown-submenu > .dropdown-menu {
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #f2f2f2;
}
.dropdown-submenu > a:after {
  border-width: 4px 0 4px 4px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #f76000;
}
.ja-navhelper .container {
  background: #000;
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  font-size: 11px;
  padding: 10px 0 !important;
  text-transform: uppercase;
}
.ja-navhelper .container ul.breadcrumb {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
  margin: 0 0 0 10px !important;
  padding: 0;
}
.ja-navhelper .container ul.breadcrumb:before,
.ja-navhelper .container ul.breadcrumb:after {
  display: table;
  content: "";
  line-height: 0;
}
.ja-navhelper .container ul.breadcrumb:after {
  clear: both;
}
.ja-navhelper .container ul.breadcrumb li {
  text-shadow: none;
  display: block;
  float: left;
}
.ja-navhelper .container ul.breadcrumb a {
  color: #666;
  display: block;
  float: left;
}
.ja-navhelper .container ul.breadcrumb a:hover,
.ja-navhelper .container ul.breadcrumb a:focus,
.ja-navhelper .container ul.breadcrumb a:active {
  color: #f76000;
}
.ja-navhelper .container ul.breadcrumb .divider {
  color: #fff;
  display: block;
  float: left;
  padding: 0 5px;
}
.ja-navhelper .container ul.breadcrumb .divider img {
  vertical-align: middle;
}
.ja-navhelper .container ul.breadcrumb .active {
  color: #f76000;
}
.module_menu .nav {
  margin-bottom: 20px;
}
.module_menu .nav > li {
  border-top: 1px solid #e5e5e5;
}
.module_menu .nav > li > a {
  padding: 5px;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}
.ja-mainnav {
  height: 50px;
}
.ja-mainnav .navbar {
  color: #666;
  margin-bottom: 0;
  margin-top: 0;
  background: #f5f5f5;
  overflow: visible;
  z-index: 11;
}
.ja-mainnav .navbar-inner {
  min-height: 50px;
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  position: relative;
}
.navbar-inner .left-mainnav {
  width: 10px;
  height: 60px;
  background: url(../../templates/ja_mitius/images/left-mainnav.png) no-repeat left top;
  position: absolute;
  left: -10px;
  top: 0px;
}
.navbar-inner .right-mainnav {
  width: 10px;
  height: 60px;
  background: url(../../templates/ja_mitius/images/right-mainnav.png) no-repeat left top;
  position: absolute;
  right: -10px;
  top: 0px;
}
.ja-mainnav .nav li.dropdown.open > .dropdown-toggle {
  background-color: #fff;
  color: #f76000;
}
.ja-mainnav .nav li.dropdown.active > .dropdown-toggle,
.ja-mainnav .nav li.dropdown.open.active > .dropdown-toggle,
.ja-mainnav .nav > li.dropdown.open.active > a:hover {
  background: #fff;
  color: #f76000;
}
.ja-mainnav .navbar .nav {
  margin: 0;
}
.ja-mainnav .navbar .nav {
  border-left: solid 1px #e5e5e5;
  height: 50px;
}
.ja-mainnav .navbar .nav > li > a {
  border-top: 0;
  border-right: solid 1px #e5e5e5;
  font-size: 14px;
  font-family: 'novecento_wide_lightbold', sans-serif;
  text-shadow: none;
  text-transform: uppercase;
  outline: none;
  padding: 15px 20px;
}
.ja-mainnav .navbar .nav > li > a:focus,
.ja-mainnav .navbar .nav > li > a:hover {
  color: #f76000;
  background: #fff;
  outline: none;
  text-shadow: none;
}
.ja-mainnav .navbar .nav > .active > a,
.ja-mainnav .navbar .nav > .active > a:hover,
.ja-mainnav .navbar .nav > .active > a:focus {
  background: #fff;
  color: #f76000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.ja-mainnav .navbar .btn-navbar {
  float: left;
  padding: 7px 10px;
  margin: 7px 20px 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top,#f2f2f2,#e8e8e8);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e8e8e8));
  background-image: -webkit-linear-gradient(top,#f2f2f2,#e8e8e8);
  background-image: -o-linear-gradient(top,#f2f2f2,#e8e8e8);
  background-image: linear-gradient(to bottom,#f2f2f2,#e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe8e8e8', GradientType=0);
  border-color: #e8e8e8 #e8e8e8 #c2c2c2;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e8e8e8;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.ja-mainnav .navbar .btn-navbar:hover,
.ja-mainnav .navbar .btn-navbar:active,
.ja-mainnav .navbar .btn-navbar.active,
.ja-mainnav .navbar .btn-navbar.disabled,
.ja-mainnav .navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: #e8e8e8;
  *background-color: #dcdcdc;
}
.ja-mainnav .navbar .btn-navbar:active,
.ja-mainnav .navbar .btn-navbar.active {
  background-color: #cfcfcf \9;
}
.ja-mainnav .navbar .btn-navbar .icon-bar {
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.ja-mainnav .btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  border-color: #e5e5e5;
}
.ja-mainnav .dropdown .caret {
  margin-left: 5px;
}
.ja-mainnav .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.ja-mainnav .dropdown-menu a {
  padding: 5px 20px;
  text-shadow: none;
}
.ja-mainnav .dropdown-menu li:first-child > a {
  border-top: 0;
}
.ja-mainnav .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.ja-mainnav .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.ja-mainnav .dropdown-menu .disabled > a,
.ja-mainnav .dropdown-menu .disabled > a:hover {
  color: #999;
}
.ja-mainnav .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
